#contact{
  height: 100vh;
  position: relative;
}

.contact-inner{
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  @media (max-width: 800px) {
    justify-content: center;
  }

  .contact-tit{
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
    text-indent: -.5vw;
    letter-spacing: -.3vw;
    color: var(--point001);

    @media (max-width: 800px) {
      display: none;
    }
  }

  .contact-text{
    width: 100%;
    height: 40vh;
    background: var(--point001);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .text{
      font-size: 1.5rem;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      // text-decoration: underline;
      text-align: center;
      position: relative;
      z-index: 100;
      transition: all .3s;

      @media (max-width: 800px) {
        font-size: 24px;
        padding: 0 16px;
        word-wrap: break-all;
        font-size: 4vw;
      }

      h2{
        font-weight: 800;
        font-size: 7vw;
        @media (max-width: 800px) {
          font-size: 13vw;
        }
      }
    }
  }
}