#port{
  width: 100%;
  margin-top: 30vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.port{
  h2{
    font-size: 17vw;
    font-weight: 700;
    color: var(--point002);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    span{display: none;}
  }
}
.port-inner{
  padding: 16px;
  display: flex;

  .info{
    margin-bottom: 1%;
    border-top: 1px solid var(--point001);
    border-bottom: 1px solid var(--point001);
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px) {
      width: 100%;
      padding: 5px 0;
      flex-direction: column;
    }
  }

  .port-title{
    width: 50vw;
    color: #fff;
    font-size: 3vw;
  }
  .port-wrap{
    display: flex;
    flex-wrap: nowrap;
    @media (max-width: 800px) {
      padding-left: 0;
    }

    .port-item{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 500px;
      height: 70vh;
      background-color: var(--black);
      border: 1px solid var(--point001);
      border-radius: 15px;
      padding: 2.5rem;
      margin-right: 20px;
      color: var(--white);
      overflow: hidden;
      @media (max-width: 800px) {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @media (max-width: 360px) {
        padding: 1.2rem;
        height: 57vh;
      }
      .num{
        font-size: 2rem;
        font-family: var(--mainNum-font);
      }
      .img{
        display: block;
        margin-top: -20px;
        transition: margin-top .3s;

        img{
          height: 34vh;
          object-fit: cover;
          border-radius: 5px;
          filter: saturate(0%);
          transition: all .3s;
          @media (max-width: 360px) {
            height: 25vh;
          }
        }
        &:hover{
          margin-top: 0;
          img{filter: saturate(100%);}
        }
      }
    }
    .title{
      font-size: 1.5rem;
      text-align: center;
      padding: .8rem 0;
      font-weight: 700;
      border-bottom: 2px solid var(--point001);
    }
    .desc{
      font-size: 1rem;
      padding: .5rem 0;
      @media (max-width: 360px) {
        display: none;
      }
    }
    .site{
      border: 1px solid var(--black100);
      display: block;
      text-align: center;
      padding: .625rem 1.5rem;
      margin-top: 1.5rem;
      transition: all .2s;
      @media (max-width: 767px) {
        display: none;
      }

      &:hover{
        background-color: var(--black100);
        color: var(--white);
      }
    }
  }
}