#skill{
  margin-bottom: 50vh;
  @media (max-width: 800px) {
    margin-bottom: 0;
  }
}

.skill-inner{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; // 없앨수도있음

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.skill-title{
  margin-top: 56px;
  position: sticky;
  top: 56px;
  left: 0;
  width: 100%; // 48%로 바꿀수있음
  // height: 100vh;
  font-size: 3vw;
  font-weight: 800;
  line-height: 1;
  font-family: var(--mainKor-font);
  text-transform: uppercase;
  color: var(--point001);
  span{display: none;}

  @media (max-width: 800px) {
    position: sticky;
    top: 64px;
    left: 0;
    border-bottom: .4vw solid var(--point001);
    z-index: 10;
    width: 100%;
    margin-bottom: 10vw;
    font-size: 30px;
    height: auto;
    // top: 68px;
    background-color: var(--black);
  }

  em{
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2;
  }
}

.skill-desc{
  // margin-top: 5vw;
  width: 100%; // 50%로 바꿀수있음
  position: relative;
  @media (max-width: 800px) {
    width: 100%;
    margin-top: 0;
  }
  &>div{
    // border: 1px solid #000;
    position: relative;
    // position: absolute;
    // top: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 800px) {
      position: relative;
      grid-template-columns: repeat(1, 1fr);
    }
    .card{
      // border: 1px solid var(--black100);
      position: relative;
      width: 80%;
      margin: auto;
      
      ul{
        border: 1px solid var(--point001);
        border-top: none;
        li{
          color: var(--white);
          border-top: 1px solid var(--point001);
          padding: 1vw;
          background-color: var(--black);
          span{
            font-size: 1.4rem;
            color: var(--point001);
          }
          p{
            text-indent: 0.1vw;
            @media (max-width: 800px) {
              font-size: 14px;
            }
          }
        }
      }
    }
    &:nth-child(2){
      margin: 5vh 0;
      .card{
        grid-column: 2 / 2;
      }
    }
  }
  h3{
    font-size: 1.5rem;
    padding: 1vw;
    font-weight: 700;
    background: var(--point001);
    color: var(--white);
  }
}